.webform-previous.form-submit,
.webform-submit.button-primary.form-submit,
.webform-next.button-primary.form-submit {
  margin-left: 5px;
}

#_qf_Select_cancel-bottom,
#_qf_Activity_cancel-bottom,
#_qf_CaseView_cancel-bottom {
	color: #fff !important;
	background-color: #0071bd !important;
	border-color: #0062a4;
	font-size: 13px !important;
	margin-left: 10px;
	margin-right: 0;
}

#_qf_Select_cancel-bottom:hover,
#_qf_Select_cancel-bottom:active,
#_qf_Select_cancel-bottom:focus,
#_qf_Activity_cancel-bottom:hover,
#_qf_Activity_cancel-bottom:active,
#_qf_Activity_cancel-bottom:focus,
#_qf_CaseView_cancel-bottom:hover,
#_qf_CaseView_cancel-bottom:active,
#_qf_CaseView_cancel-bottom:focus {
	background: #005c99 !important;
	color: #fff !important;
	outline: none;
	text-shadow: none;
}

.crm-container .crm-form-block .crm-submit-buttons .crm-i {
	display: inline-block !important;
}

.crm-case-activity-view-Details td p {
	margin-bottom: 0px;
	line-height: 25px;
}

.webform-component-fieldset.webform-component--anonymous-details-of-person-who-received-the-care-field-set.form-wrapper {
	display: none !important;
}

.form-item.webform-component.webform-component-checkboxes.webform-component--personal-views-layout--civicrm-1-activity-1-cg33-custom-323,
.form-item.webform-component.webform-component-select.webform-component--civicrm-1-activity-1-cg33-custom-202,
.form-item.webform-component.webform-component-radios.webform-component--personal-views-field-set--personal-views-column-layout-box--civicrm-1-activity-1-cg38-custom-1010,
.form-item.webform-component.webform-component-radios.webform-component--personal-views-field-set--personal-views-column-layout-box--civicrm-1-activity-1-cg38-custom-1011,
.form-item.webform-component.webform-component-radios.webform-component--person-who-received-the-care.webform-container-inline,
.form-item.webform-component.webform-component-select.webform-component--2columns-org1-2--civicrm-1-activity-1-cg69-custom-338,
.form-item.webform-component.webform-component-checkboxes.webform-component--2columns-org1-2--civicrm-1-activity-1-cg33-custom-160,
.form-item.webform-component.webform-component-select.webform-component--2columns-org1-3--civicrm-1-activity-1-cg15-custom-1023 {
	border: 1px solid #D83D8D;
	padding: 0 0px 10px 10px;
	border-radius: 3px;
}

.form-item.webform-component.webform-component-radios.webform-component--person-who-received-the-care.webform-container-inline {
	padding-top: 10px;
}

.fieldset-legend {
	font-size: 20px;
	line-height: 1.2em;
}

.webform-civicrm-prefix.contact-unknown {
	margin-bottom: 20px;
}

.webform-civicrm-prefix.contact-unknown p {
	font-size: 14px;
	margin: 0px !important;
}

.webform-component .description {
	font-size: 13px;
	margin: 10px 0;
}

.webform-confirmation p {
	font-size: 14px;
}


/* Inline #7 | https://bucks.healthwatchcrm.co.uk/feedback-and-signposting-data-collection-wizard */

.form-item.webform-component.webform-component-markup.webform-component--personal-views-field-set--outcome-markup {
  display: none;
}

.webform-component-fieldset.webform-component--personal-views-field-set--civicrm-9-activity-1-fieldset-fieldset.form-wrapper {
  display: none;
}

.form-item.webform-component.webform-component-select.webform-component--personal-views-field-set--civicrm-1-activity-1-cg33-custom-1022 {
  display: none;
}

.webform-component-fieldset.webform-component--caller-details-field-set.form-wrapper {
  display: none;
}


/* Inline #7 | https://bucks.healthwatchcrm.co.uk/feedback-and-signposting-data-collection-wizard */

.webform-layout-box.equal.webform-component--2columns-org1-4.child-width-2 {
  display: none;
}

.webform-layout-box.equal.webform-component--civicrm-2-activity-1-fieldset-fieldset--civicrm-5-contact-1-fieldset-fieldset--2columns-org2-4.child-width-2 {
  display: none;
}

.webform-layout-box.equal.webform-component--civicrm-3-activity-1-fieldset-fieldset--select-organisation-involved-3--2columns-org3-4.child-width-2 {
  display: none;
}

/* Borders */

.form-item.webform-component.webform-component-select.webform-component--civicrm-2-activity-1-fieldset-fieldset--civicrm-5-contact-1-fieldset-fieldset--2columns-org2-2--civicrm-2-activity-1-cg69-custom-338,
.form-item.webform-component.webform-component-checkboxes.webform-component--civicrm-2-activity-1-fieldset-fieldset--civicrm-5-contact-1-fieldset-fieldset--2columns-org2-2--civicrm-2-activity-1-cg33-custom-160,
.form-item.webform-component.webform-component-select.webform-component--civicrm-2-activity-1-fieldset-fieldset--civicrm-5-contact-1-fieldset-fieldset--2columns-org2-3--civicrm-2-activity-1-cg15-custom-1023,
.form-item.webform-component.webform-component-select.webform-component--civicrm-3-activity-1-fieldset-fieldset--select-organisation-involved-3--2columns-org3-2--civicrm-3-activity-1-cg69-custom-338,
.form-item.webform-component.webform-component-checkboxes.webform-component--civicrm-3-activity-1-fieldset-fieldset--select-organisation-involved-3--2columns-org3-2--civicrm-3-activity-1-cg33-custom-160,
.form-item.webform-component.webform-component-select.webform-component--civicrm-3-activity-1-fieldset-fieldset--select-organisation-involved-3--2columns-org3-3--civicrm-3-activity-1-cg15-custom-1023 {
	border: 1px solid #D83D8D;
	padding: 0 0px 10px 10px;
	border-radius: 3px;
}

/* Wizard Webform - Case Admin */

/* Inline #14 | https://bucks.healthwatchcrm.co.uk/feedback-and-signposting-data-collection-wizard */

.form-item.webform-component.webform-component-file.webform-component--civicrm-1-case-1-cg73-custom-359,
.form-item.webform-component.webform-component-file.webform-component--civicrm-1-case-1-cg73-custom-361 {
	display: none;
}

.webform-component-fieldset.webform-component--civicrm-8-activity-1-fieldset-fieldset.form-wrapper {
	display: none;
}

/* Volunteer Update webform */

/* Inline #6 | https://bucks.healthwatchcrm.co.uk/volunteer-update?cid1=2000&cs=78b207d7380f73f26ec900a66e5211a9_1680785657_168 */

.fieldset-description {
  margin-top: 10px;
  font-size: 1rem;
  line-height:1.5rem;
}

.webform-civicrm-prefix.contact-known {
  font-size: 1rem;
  margin-bottom: 2rem;
  border: 1px solid black;
  border-radius: 3px;
  padding: 0.5rem;
  background-color: #f2f2f2;
  color: black;
}

.webform-progressbar {
  margin: 2rem auto;
}

.webform-component-checkboxes .form-checkboxes {
  -moz-column-count: 1 !important;
  -webkit-column-count: 1 !important;
  column-count: 1 !important;
}

.form-type-checkbox {
  margin: 0 0 0.25rem 0 !important;
}

.form-text {
	color: black !important;
}

.fieldset-wrapper label {
	font-weight: bold !important;
}