/* d10 and later */

.path-admin #block-feedbackandsignpostingdatacollectionwizard-2 {
	display: none;
}

#edit-anonymous-details-of-person-who-received-the-care-fieldset {
	display: none !important;
}

.page-header {
	font-size: 1.6rem !important;
}

.breadcrumb {
	line-height: 100% !important;
}

.breadcrumb :first-child {
	margin-left: 0;
}

.breadcrumb li {
	margin-bottom: 0;
	margin-left: 0.8rem;
}

.breadcrumb > li + li::before {
	padding-left: 0px !important;
}

.page-civicrm-contact-view:not([class*="page-civicrm-contact-view-"]) #crm-container div.crm-summary-contactname-block {
	padding-top: 0px !important;
}

.page-civicrm-contact-view:not([class*="page-civicrm-contact-view-"]) #crm-container #crm-contactname-content .crm-summary-display_name {
	padding: 20px 0 !important;
}

.page-civicrm-contact-view:not([class*="page-civicrm-contact-view-"]) #crm-container .crm-summary-contactname-block {
	padding: 10px 0 !important;
}

.page-civicrm-contact-view:not([class*="page-civicrm-contact-view-"]) #crm-container #crm-contactname-content {
	max-height: 80px !important;
}

/* civicrm.css | https://bucks.healthwatchcrm.co.uk/libraries/civicrm/core/css/civicrm.css?r=dJ2ynen_GB */

div#crm-container form,
div.crm-container form {
	margin-bottom: 0 !important;
}

/* custom-civicrm.css | https://bucks.healthwatchcrm.co.uk/sites/default/civicrm_extensions/org.civicrm.shoreditch-1.0.0-beta.12/css/custom-civicrm.css?r=dJ2ynen_GB */

.page-civicrm-contact-view:not([class*="page-civicrm-contact-view-"]) #crm-container #crm-contactname-content .crm-edit-help {
	top: 17px !important;
	margin-left: 5px;
}

/* css_ra3UM2mD4Ock-yArSMzRC5DnsGhkI-soZ8MM2pEbLKA.css | https://bucks.healthwatchcrm.co.uk/sites/bucks.healthwatchcrm.co.uk/files/css/css_ra3UM2mD4Ock-yArSMzRC5DnsGhkI-soZ8MM2pEbLKA.css */

.main-content .container {
	padding-top: 0em !important;
}

#Tag tr td:first-child {
	width: 50%;
}

/* civicrm.css | https://bucks.healthwatchcrm.co.uk/libraries/civicrm/core/css/civicrm.css?r=dJ2ynen_GB */

.crm-container .status {
	font-size: 0.8rem !important;
}

/* custom-civicrm.css | https://bucks.healthwatchcrm.co.uk/sites/default/civicrm_extensions/org.civicrm.shoreditch-1.0.0-beta.12/css/custom-civicrm.css?r=dJ2ynen_GB */

.crm-datatable-pager-top label,
.crm-datatable-pager-bottom label{
	font-size: 13px !important;
}

.crm-container #contact-summary-relationship-tab.view-content .crm-datatable-pager-top,
.crm-container #contact-summary-relationship-tab.view-content .crm-datatable-pager-bottom {
	height: 50px !important;
}

/* Inline #18 | https://bucks.healthwatchcrm.co.uk/civicrm/contact/view?reset=1&cid=5900&selectedChild=activity */

.crm-info-panel tr td label {
	font-size: 13px;
}

/* civicrm.css | https://bucks.healthwatchcrm.co.uk/libraries/civicrm/core/css/civicrm.css?r=dJ2ynen_GB */

.crm-info-panel td {
	padding: 0px !important;
}

/* css_ra3UM2mD4Ock-yArSMzRC5DnsGhkI-soZ8MM2pEbLKA.css | https://bucks.healthwatchcrm.co.uk/sites/bucks.healthwatchcrm.co.uk/files/css/css_ra3UM2mD4Ock-yArSMzRC5DnsGhkI-soZ8MM2pEbLKA.css */

.main-content .region p>a:hover,
.main-content .region p>a:focus,
.main-content .region li a:hover,
.main-content .region li a:focus {
	font-weight: 600 !important;
	text-decoration: none !important;
}

/* css_ra3UM2mD4Ock-yArSMzRC5DnsGhkI-soZ8MM2pEbLKA.css | https://bucks.healthwatchcrm.co.uk/sites/bucks.healthwatchcrm.co.uk/files/css/css_ra3UM2mD4Ock-yArSMzRC5DnsGhkI-soZ8MM2pEbLKA.css */

a.btn:hover,
a.btn:focus {
	font-weight: 600 !important;
}

/* custom-civicrm.css | https://bucks.healthwatchcrm.co.uk/sites/default/civicrm_extensions/org.civicrm.shoreditch-1.0.0-beta.12/css/custom-civicrm.css?r=dJ2ynen_GB */

.crm-container .crm-form-xbutton,
.crm-container .crm-inline-button,
.crm-container .crm-submit-buttons {
	padding: 0 5px 5px 5px !important;
}

.crm-container .crm-form-xbutton button,
.crm-container .crm-inline-button button,
.crm-container .crm-submit-buttons button {
	margin-bottom: 10px !important;
}

.crm-container .crm-inline-button button {
	display: inline-block !important;
}

.page-civicrm-contact-view:not([class*="page-civicrm-contact-view-"]) #crm-container .crm-inline-button,
.page-civicrm-contact-view:not([class*="page-civicrm-contact-view-"]) #crm-container .crm-submit-buttons {
	height: auto !important;
}

/* civicrm.css | https://bucks.healthwatchcrm.co.uk/libraries/civicrm/core/css/civicrm.css?r=dJ2ynen_GB */

.crm-container a.button,
.crm-container a.button:link,
.crm-container a.button:visited,
/* .crm-container .ui-dialog-buttonset .ui-button, */
.crm-container .crm-button {
	float: none !important;
}

/* custom-civicrm.css | https://bucks.healthwatchcrm.co.uk/sites/default/civicrm_extensions/org.civicrm.shoreditch-1.0.0-beta.12/css/custom-civicrm.css?r=dJ2ynen_GB */

.crm-container input[type="checkbox"]+label[for],
.crm-container input[type="radio"]+label[for] {
	font-weight: normal;
	font-size: 13px !important;
}

/* css_ra3UM2mD4Ock-yArSMzRC5DnsGhkI-soZ8MM2pEbLKA.css | https://bucks.healthwatchcrm.co.uk/sites/bucks.healthwatchcrm.co.uk/files/css/css_ra3UM2mD4Ock-yArSMzRC5DnsGhkI-soZ8MM2pEbLKA.css */

.main-content .container {
	padding-top: 0 !important;
}

/* custom-civicrm.css | https://bucks.healthwatchcrm.co.uk/sites/default/civicrm_extensions/org.civicrm.shoreditch-1.0.0-beta.12/css/custom-civicrm.css?r=dJ2ynen_GB */

.crm-container button.crm-form-xbutton.cancel,
.crm-container button.crm-form-submit.cancel {
	background: #fff !important;
	border: 1px solid #4d4d69 !important;
}

.crm-container button.crm-form-xbutton.cancel:hover,
.crm-container button.crm-form-xbutton.cancel:focus,
.crm-container button.crm-form-xbutton.cancel:active,
.crm-container button.crm-form-submit.cancel:hover,
.crm-container button.crm-form-submit.cancel:focus,
.crm-container button.crm-form-submit.cancel:active {
	background: #3e3e54 !important;
}

/* custom-civicrm.css | https://bucks.healthwatchcrm.co.uk/sites/default/civicrm_extensions/org.civicrm.shoreditch-1.0.0-beta.12/css/custom-civicrm.css?r=dJ2ynen_GB */

.crm-container .crm-button-type-refresh .crm-i,
.crm-container .crm-submit-buttons>.crm-button .crm-i {
	color: inherit !important;
}

/* style.css | https://bucks.healthwatchcrm.co.uk/themes/custom/bootstrap_hwcrm_2023/css/style.css?s5nwwx */

a:focus.logo {
	outline: none !important;
}

#block-feedbackandsignpostingdatacollectionwizard h2 {
	display: none;
}

.view-value {
	padding-top: 0px !important;
}

/* Inline #71 | https://bucks.healthwatchcrm.co.uk/feedback-and-signposting-data-collection-wizard */

.form-textarea-wrapper textarea {
	font-size: 0.8rem;
	font-weight: normal;
	line-height: 1.2rem;
}

/* civicrm.css | https://bucks.healthwatchcrm.co.uk/libraries/civicrm/core/css/civicrm.css?r=SEoZken_GB */

#crm-container,
.crm-container {
	line-height: 135%;
}

/* css_8JkLnWV6c9AqhM5DPuNtJNtTfz__R-Rqkay6m7Zggbk.css | https://bucks.healthwatchcrm.co.uk/sites/bucks.healthwatchcrm.co.uk/files/css/css_8JkLnWV6c9AqhM5DPuNtJNtTfz__R-Rqkay6m7Zggbk.css?delta=3&language=en&theme=bootstrap_hwcrm_2023&include=eJxlikEKgDAMwD407ZNGN6sUN1u6OvH3ehEFbyFJO5tThYSNQhYjmGxXLCNm505D4W0NB6VZrMYk4s0NFX4mvE1FpZN9jIsU5_vhJSorwQMXKDwxmw */

.row>*,
.main-content .region>*,
.view.grid-content .view-content>* {
	font-size: 1rem;
}

.main-content .region .block,
.main-content .region>*,
.main-content nav,
.region .grid,
.region article,
.region .views-element-container {
	font-size: 1rem;
}

/* Inline #16 | https://bucks.healthwatchcrm.co.uk/civicrm/contact/view?action=browse&reset=1&cid=128&selectedChild=custom_715 */

.crm-contact-actions-list-inner li a {
	font-size: 0.8rem !important;
}

/* Inline #24 | https://bucks.healthwatchcrm.co.uk/feedback-and-signposting-data-collection-wizard */

.form-item.js-form-item.form-type-managed-file.js-form-type-managed-file.form-item-civicrm-1-case-1-cg73-custom-358.js-form-item-civicrm-1-case-1-cg73-custom-358.form-group {
  display: none;
}

.form-item.js-form-item.form-type-managed-file.js-form-type-managed-file.form-item-civicrm-1-case-1-cg73-custom-359.js-form-item-civicrm-1-case-1-cg73-custom-359.form-group {
  display: none;
}

.form-item.js-form-item.form-type-managed-file.js-form-type-managed-file.form-item-civicrm-1-case-1-cg73-custom-361.js-form-item-civicrm-1-case-1-cg73-custom-361.form-group {
  display: none;
}

/* Inline #71 | https://bucks.healthwatchcrm.co.uk/feedback-and-signposting-data-collection-wizard */

#edit-anonymous-details-of-person-who-received-the-care-fieldset {
  display: none;
}

.form-group h1 {
  margin-top: 0;
}

#edit-2columns-org1-4,
#edit-2columns-org2-4,
#edit-2columns-org3-4,
#edit-2columns-org4-4,
#edit-2columns-org5-4 {
  display: none;
}